<% if logged_in? %>
  <div class="text-center">
    <h1><u><%= link_to 'キャラクターランキング一覧', characters_path %></u></h1>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h2>キャラクターについて思ったことをコメントしてみる</h2>
      <%= link_to 'スマブラSP攻略に登録する', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
  <div class="text-center">
    <h1><u><%= link_to 'キャラクターランキング一覧', characters_path %></u></h1>
  </div>
<% end %>


  
